// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Bloqueamos todo acceso directo desde cliente (app)
    // Tus API routes usan Admin SDK, que NO pasa por estas reglas.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
